@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

body {
    background:linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-style: oblique;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-box {
    width: 100%;
    text-align: center;
}

#input-task {
    margin-top: 10px;
    width: 50%;
    color: #ff0000;
    font-size: 20px;
    text-align: center;
    border-bottom: 4px solid black;
    border-top: 0px transparent;
    border-left: 0px transparent;
    border-right: 0px transparent;
    background-color: transparent;
    border-radius: 119px 119px 119px 119px;
}

h1 {
    color: #ff7400;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

ul {
    font-family: 'Sonsie One', cursive;
    font-size: 22px;
    list-style: none;
    color: #0008de;
}

.add-button {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#add-task-button {
    width: 20%;
    background-color: transparent;
    border-radius: 119px 119px 119px 119px;
    border: 1px solid #000000;
    font-size: 18px;
    color: white;
    font-family: 'Courgette', cursive;
}

.delete-btn {
    color: #ff0000;
    background-color: transparent;
    border: 0px solid #000000;
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
}

